.box {
    height: 20px;
    width: 20px;
    background-color: white;
    display: inline-block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 0 0 0 0;
}
  
.row {
    padding: 0 0 0 0;
}
  